footer{
	overflow: hidden;
	text-align:center;
	background:#000;
	width:100%;
	/*height:540px;*/
	font-size:12px;
	/*max-width:1920px;*/
	margin:auto;
	padding-bottom:50px;
}
@media screen and (min-width:768px) and (max-width:1024px){
	footer{
		height:auto;
	}
}
@media screen and (max-width:767px){
	footer{
		height:auto;
	}
}
footer a{
	color:#b6b6b6;
}

.footerNew{
	min-height: 118px;
	height: 2.16rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('__DOMAIN__/img/homepage/dist/newIndex/footer.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.footerNew a{
	color: #F6F9FC;
	margin-right: 5rem;
	font-size: 1.321rem;
}
.footerNew .footerLeft{
	height: 6.7rem;
	border-right: 1px solid #8791A5;
	padding-right: 7rem;
	line-height: 6.7rem;
}
.footerNew .footerRight{
	height: 1.7rem;
	padding-left: 1.37rem;
	color: #B5C0D4;
	font-size: 0.257rem;
}
.imgContain{
	margin-bottom: 0.396rem
}
.footerNew .footerRight img{
	width: 2.78rem;
	height: 2.78rem;
	margin-right: 0.28rem;
}
.bottomInfo{
	background: #5C6679;
	width: 100%;
	text-align: center;
	color: #F6F9FC;
	font-size: 0.5rem;
	height: 3rem;
	line-height: 3rem;
}

.imgContain a{
	margin-right: 0
}
.imgContain span{
	position: relative;
}
footer{
	overflow: visible;
	padding-bottom: 0;
}

.pcFooter{
	display: none;
}

a:hover{
	text-decoration:none !important;
	color: #337ab7;
}
a{
	text-decoration:none !important;
}

